@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .footer__flex {
        width: 90%;
        h2 {
            text-align: center;
            color: v.$blanco;
            background-color: v.$azul;
            width: fit-content;
            margin: 5rem auto;
            padding: .8rem 2rem;
            width: 100%;
        }
        .footer__contact {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 5rem 0;

            .footer__icons {
                display: flex;
                a {
                    margin: 2rem 1rem;
                    transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
    
                    span {
                        text-align: center;
                        color: v.$negro;
                    }
                    &:hover span {
                        font-weight: bold;
                    }
                    &:nth-child(1):hover svg {
                        fill: v.$azul;
                    }
                    &:nth-child(2):hover svg {
                        fill: lightgreen;
                    }
                }
            }
            p {
                margin: 2rem 1rem;
                font-weight: 500;
                font-size: 2.5rem;
            }
            .rights {
                margin-top: 5rem;
                margin-bottom: 0;
                font-size: 1.5rem;
            }
        }
    }
}