@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('bg-new.svg');
    background-repeat: no-repeat;
    background-size: cover;

    .footer__flex {
        width: 100%;
        h2 {
            width: 80%;
            margin: 2.5rem auto 0 auto;
            font-size: 2.5rem;
            @include m.desktop {
                font-size: 4rem;
            }
        }
        .footer__contact {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 5rem 0;
            backdrop-filter: blur(2px);

            .footer__icons {
                display: flex;
                a {
                    margin: 2rem 1rem;
                    transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
    
                    span {
                        text-align: center;
                        color: v.$negro;
                        font-weight: bold;
                    }
                    &:nth-child(1):hover svg {
                        fill: v.$azul;
                    }
                    &:nth-child(1):hover span {
                        color: v.$azul;
                    }
                    &:nth-child(2):hover svg {
                        fill: lightgreen;
                    }
                    &:nth-child(2):hover span {
                        color: lightgreen;
                    }
                }
            }
            p {
                text-align: center;
                margin: 2rem 1rem;
                font-weight: 500;
                font-size: 2.5rem;
                font-weight: 800;
            }
            .rights {
                margin-top: 5rem;
                margin-bottom: 0;
                font-size: 1.5rem;
            }
        }
    }
}