@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.gallery_cnt {
    background-color: v.$amarillo;
    background-image: url('bg-galery.svg');
    padding: 1rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    @include m.desktop {
        padding: 3rem;
    }

    h2 {
        font-size: 3.4rem;
        background-color: v.$amarillo;
        color: v.$negro;
        margin: 0 auto 2rem auto;
        width: fit-content;
        height: fit-content;
        text-align: center;
        writing-mode: horizontal-tb;
    }
    
    @include m.desktop {
        flex-direction: row;
        h2 {
            width: 10%;
            margin: 0 2rem 2rem auto;
            writing-mode: vertical-rl;
        }
    }
}