@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.gallery_cnt {
    background-color: v.$azul;
    padding: .5rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    @include m.desktop {
        padding: 3rem;
    }

    h2 {
        font-size: 3rem;
        background-color: none;
        color: v.$blanco;
        margin: 0 auto 2rem auto;
        width: fit-content;
        height: fit-content;
        text-align: center;
        writing-mode: horizontal-tb;
        
        @include m.tablet {
            font-size: 5rem;
        }
    }

}