@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.header {
    background: url('/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: none;
    height: 800px;

    @include m.tablet {
        height: 700px;
    }

    .header__cnt {
        height: 100%;
        width: 100%;
        backdrop-filter: blur(3px);
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .header__image {
            @include m.tablet {
                align-self: baseline;
            }
            align-self: center;
            margin: 50px 10px;
            img {
                width: 150px;
            }
        }
        .header__title {
            display: flex;
            flex-direction: column;
            align-items: center;
            h1 {
                color: v.$blanco;
                font-size: 5rem;
                text-align: center;
                text-transform: uppercase;
            }
            .wrapper {
                display: flex;
                .first-text {
                    text-align: center;
                    font-size: 2.3rem;
                    margin: 20px 0 50px 0;
                    em {
                        background-color: #232323c0;
                        font-weight: bold;
                        color: v.$amarillo;
                        animation: colorful 6s infinite;
                    }

                    @include m.tablet {
                        font-size: 3rem;
                    }
                }
            }
            a {
                background-color: v.$amarillo;
                padding: 1.5rem 2.5rem;
                border-radius: 5px;
                font-weight: bold;
                color: v.$negro;
                cursor: pointer;
            }
            @include m.desktop {
                h1 {
                    font-size: 8rem;
                }
                p {
                    font-size: 2.5rem;
                }
            }
        }
    }
}

@keyframes colorful {100%{filter: hue-rotate(360deg);}}