@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.webp .header {
    background-image: url('/hero.webp');
}
.no-webp .header {
    background-image: url('/hero.jpg');
}
.header {
    background-size: cover;
    background-position: center;
    background-repeat: none;
    height: 800px;
    box-shadow: 0 10px 20px v.$azul;

    @include m.tablet {
        height: 750px;
    }

    .header__cnt {
        height: 100%;
        width: 100%;
        backdrop-filter: blur(3px);
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .header__image {
            width: 100%;
            margin: 5rem auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            position: relative;
            img {
                width: 150px;
                height: 150px;
            }
            a {
                color: v.$blanco;
                background-color: v.$azul;
                padding: .8rem;
                border-radius: 10px;
            }
        }
        .header__title {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            h1 {
                font-size: 5rem;
                text-align: center;
                text-transform: uppercase;
                font-family: v.$fuente-secundaria;
                color: v.$amarillo;
                text-shadow: 0 0 10px v.$negro;
            }
            .wrapper {
                display: flex;
                flex-direction: column;
                margin-bottom: 2.5rem;
                .first-text {
                    text-align: center;
                    font-size: 2.5rem;
                    color: v.$amarillo;
                    em {
                        font-weight: bold;
                        color: v.$blanco;
                    }

                    @include m.tablet {
                        font-size: 3rem;
                    }
                }
            }
            .promo {
                color: v.$blanco;
                text-align: center;
                background-color: v.$rojo;
                font-weight: 700;
                width: 100%;
                margin-bottom: 5rem;
                animation: colorful 6s infinite;
                border: 2px solid v.$rojo;
                border-radius: 5px;
            }
            a {
                border: 3px solid v.$amarillo;
                padding: 1.5rem 5rem;
                border-radius: 2rem 0 2rem 0;
                font-weight: bolder;
                text-transform: uppercase;
                font-size: 1.6rem;
                color: v.$amarillo;
                cursor: pointer;
                transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
                &:hover {
                    border-radius: 0 2rem 0 2rem;
                    color: v.$negro;
                    background-color: v.$amarillo;
                }
            }
            @include m.desktop {
                h1 {
                    font-size: 8rem;
                }
                p {
                    font-size: 2.5rem;
                }
            }

        }
    }
}

@keyframes colorful {100%{filter: hue-rotate(360deg);}}