@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.offered {
    margin: 15rem 0 0 0;
    margin-bottom: 10rem;
    .offered__cnt {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: 0 auto;

        h2 {
            text-transform: uppercase;
            margin-top: 50px;
            font-size: 4rem;
            color: v.$blanco;
            background-color: v.$azul;
            padding: .8rem 0;
            text-align: center;
            width: 100%;
        }

        hr {
            border: 3px dashed v.$azul;
            width: 60%;
            margin: 10rem 0;
        }

        .offered__flex {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 5rem;
            margin: 5rem 0;
            
            @include m.desktop {
                gap: 10rem;
                flex-direction: row;
            }

            .flex__child {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                h3 {
                    text-align: center;
                    color: v.$azul;
                }
                p {
                    text-align: center;
                    font-size: 2rem;
                    @include m.desktopXL {
                        font-size: 2.5rem;
                    }
                }
            }
        }
        .offered_activity {
            width: 100%;
            margin: 0rem 0 15rem 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            .card__flex {
                margin-top: 15rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;

                @include m.desktopXL {
                    flex-direction: row;
                }
            }
            .card {
                background-color: v.$amarillo;
                height: 350px;
                width: 100%;
                border-radius: 10px;
                cursor: pointer;

                &:hover {
                    transform: scale(1.02);
                }
            }
            .one {
                background-image: url('/card-1.jpg');
                background-size: cover;
                background-position: center;
                h3 {
                    background-color: v.$amarillo;
                    color: v.$negro;
                }
            }
            .two {
                background-image: url('/card-2.jpg');
                background-size: cover;
                background-position: center;
                h3 {
                    background-color: v.$azul;
                    color: v.$amarillo;
                }
            }
            .three {
                background-image: url('/card-3.jpg');
                background-size: cover;
                background-position: center;
                h3 {
                    background-color: v.$rojo;
                    color: v.$blanco;
                }
            }
            .one,.two,.three {
                transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
                .backdrop {
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    height: 350px;
                    width: 100%;
                    border-radius: 10px;
                    h3 {
                        margin: 0;
                        width: 100%;
                        padding: 2px 20px;
                    }
                }
            }
        }
        .offered_service {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 5rem;
            width: 100%;
            @include m.desktop {
                flex-direction: row;
                align-items: flex-start;
            }
            .section {
                width: 100%;
                h3 {
                    text-align: center;
                    font-size: 4rem;
                    color: v.$blanco;
                    background-color: v.$azul;
                    padding: .8rem 5rem;
                }
                p {
                    font-weight: 600;
                    color: v.$azul;
                    font-size: 3rem;
                }
                ul {
                    margin: 3rem 0;
                    line-height: 2;
                    font-size: 2rem;
                    @include m.desktopXL {
                        & {
                            font-size: 3rem;
                        }
                    }
                    li > span {
                        font-weight: 600;
                        color: v.$azul;
                    }
                }
                img {
                    filter: grayscale(100)
                }
                .section__images {
                    width: 100%;
                    display: flex;

                    img:nth-child(1){
                        width: 50%;
                    }
                    img:nth-child(2) {
                        width: 50%;
                    }
                }
            }
        }
    }
}