@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.offered {
    margin: 35rem 0 0 0;
    margin-bottom: 10rem;
    .offered__cnt {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95%;
        margin: 0 auto;

        h2 {
            text-transform: uppercase;
            font-size: 4rem;
            color: v.$blanco;
            background-color: v.$azul;
            border-radius: 1rem;
            padding: .8rem 0;
            text-align: center;
            width: 100%;
        }

        hr {
            border: 3px dashed v.$azul;
            width: 90%;
            margin: 10rem 0;
        }

        @include m.desktopXL {
            width: 80%;

            hr {
                margin: 25rem 0;
            }
        }

        .offered__flex {
            display: flex;
            flex-direction: column;
            gap: 0;
            margin: 5rem 0 0 0;
            
            @include m.desktop {
                gap: 10rem;
                flex-direction: row;
            }

            .flex__child {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                h3 {
                    text-align: center;
                    color: v.$azul;
                }
                p {
                    text-align: center;
                    font-size: 2rem;
                    @include m.desktopXL {
                        font-size: 2.5rem;
                    }
                }
            }
        }
            
        .offered_service {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 5rem;
            width: 100%;
            
            h2 {
                border-radius: 1rem;
            }

            hr {
                margin: 10rem 0;
            }

            .activity-flex {
                display: flex;
                flex-direction: column;
                gap: 25rem;
                @include m.desktop {
                    flex-direction: row;
                    gap: 10rem;
                }

            }
            .section {
                width: 100%;
                h3 {
                    text-align: center;
                    width: fit-content;
                    margin: 0 auto;
                    font-size: 3.5rem;
                    border-radius: 1rem;
                    padding: .8rem 5rem;
                }
                p {
                    font-weight: 800;
                    color: v.$azul;
                    font-size: 3rem;
                }
                ul {
                    margin: 3rem 0;
                    line-height: 2;
                    font-size: 2rem;
                    @include m.desktopXL {
                        & {
                            font-size: 3rem;
                        }
                    }
                    li > span {
                        font-weight: 600;
                        color: v.$azul;
                        font-weight: 800;
                    }
                }
                img {
                    width: 100%;
                    height: 300px;
                    filter: grayscale(100);
                }
                .section__images {
                    width: 100%;
                    display: flex;

                    img:nth-child(1){
                        width: 50%;
                    }
                    img:nth-child(2) {
                        width: 50%;
                    }
                }

                // CARDS
                .card {
                    margin: 5rem auto 0 auto;
                    width: 100%;
                    height: 350px;
                    border-radius: 1rem;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    transition: transform .5s cubic-bezier(0.19, 1, 0.22, 1);

                    .card__front {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 3rem;
                        font-weight: 600;

                        span {
                            width: 100%;
                            text-align: center;
                            padding: 1rem 0;
                        }
                    }
                    &:hover {
                        transform: scale(1.02);
                    }
                }
            }

            .activity-one {
                h3 {
                    background-color: v.$amarillo;
                }
                .one {
                    background-image: url('/card-1.jpg');

                    .card__front {
                        span {
                            color: v.$negro;
                            background-color: v.$amarillo;
                        }
                    }
                }
            }
            .activity-two {
                h3 {
                    background-color: v.$rojo;
                    color: v.$blanco;
                }
                .two {
                    background-image: url('/card-3.jpg');

                    .card__front {
                        span {
                            color: v.$blanco;
                            background-color: v.$rojo;
                        }
                    }
                }
            }
            .activity-three {
                margin-top: -13rem;
                margin-bottom: 15rem;
                .three {
                    background-image: url('/card-2.jpg');
                }

                .card__front {
                    span {
                        color: v.$amarillo;
                        background-color: v.$azul;
                    }
                }
            }
        }
    }
}